<div class="container">
  <h3>Product List</h3>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Title (English)</th>
            <th>Title (Urdu)</th>
            <th>Category</th>
            <th>Default-Price</th>
            <th>Image URL</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.title_english}}</td>
            <td>{{product.title_urdu}}</td>
            <td>{{product.category | productCategoryPipe}}</td>
            <td>{{product.defaultPrice | currency}}</td>
            <td> {{product.imageUrl}} </td>
            <td><i class="bi bi-pencil"></i> &nbsp;&nbsp;&nbsp;<i class="bi bi-trash3" style="color: red;"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>