<div class="section">

  <div class="bg-body-tertiary border rounded-3">
    <div class="d-flex flex-column  p-3" style="width: 280px;">

      <ul class="nav nav-pills flex-column mb-auto">
        <!-- <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#home" />
            </svg>
            Home
          </a>
        </li> -->
        <!-- <li>
          <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#speedometer2" />
            </svg>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#table" />
            </svg>
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#grid" />
            </svg>
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#people-circle" />
            </svg>
            Customers
          </a>
        </li> -->
      </ul>

      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Configuration
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/slider" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Slider</a>
              </li>
              <li>
                <a href="/featured-categories"
                  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Featured Categories</a>
              </li>

              <li>
                <a href="/locations" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Locations</a>
              </li>

            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            (click)="navigateProducts()" data-bs-toggle="collapse" data-bs-target="#product-collapse"
            aria-expanded="true">
            Products
          </button>
          <div class="collapse show" id="product-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/products/" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Products</a>
              </li>
              <li>
                <a href="/products/add" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add
                  Product</a>
              </li>
              <li>
                <a href="/products/update-list"
                  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Update price</a>
              </li>

            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            (click)="navigateOrders()" data-bs-toggle="collapse" data-bs-target="#order-collapse" aria-expanded="true">
            Orders
          </button>
          <div class="collapse show" id="order-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/orders/" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Live Orders</a>
              </li>
              <li>
                <a href="/orders/detail" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Order
                  detail
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Riders -->
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            (click)="navigateRiders()" data-bs-toggle="collapse" data-bs-target="#rider-collapse" aria-expanded="true">
            Riders
          </button>
          <div class="collapse show" id="rider-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a href="/riders/" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Riders</a>
              </li>

            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>