<form style="width: 100%; margin: 30px 30px;">
  <div class="row">
    <div class="form-group col-lg-5">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group col-lg-5">
      <label for="imageUrl">Image Url</label>
      <input type="url" class="form-control" id="imageUrl" placeholder="Image Url">
    </div>
    <div class="form-group col-lg-2 mt-4">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Package</label>
      </div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="form-group col-lg-4">
      <label class="mb-1" for="title">Sub Category</label>
      <input type="text" class="form-control" id="Sub Category" placeholder="Sub Category">
    </div>

    <div class="form-group col-lg-2 mt-4 offset-1">
      <button type="button" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>
        Add
      </button>
    </div>


  </div>

  <div class="row">
    <div class="form-group col-lg-6 mt-2">
      <app-sub-category-table></app-sub-category-table>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg mt-3"><i class="bi bi-save"></i>&nbsp;Save</button>

</form>

<hr class="mt-2 mb-2">

<app-category-table></app-category-table>