<div class="table-responsive">

  <table class="table table-striped overflow-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Weight</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let p of packings; index as i">
        <th scope="row">{{ p.id}}</th>
        <td>
          {{ p.weight }}
        </td>
        <td>
          {{ p.price |currency }}
        </td>
        <td> &nbsp;&nbsp;<i class="bi bi-trash3" style="color: red;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>