<div class="table-responsive">

  <table class="table table-striped overflow-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="sub_categories && sub_categories.length === 0; else tableData">
        <h5>no data</h5>
      </div>
      <ng-template #tableData>
        <tr *ngFor="let sc of sub_categories; index as i">
          <th scope="row">{{ sc.id}}</th>
          <td>
            {{ sc.title }}
          </td>
          <td> &nbsp;&nbsp;<i class="bi bi-trash3" (click)="onDeleteClick(sc?.id)" style="color: red;"></i>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>