<div class="container">
  <h2>Update Products</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Update Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" [(ngModel)]="product.price">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="updatePrice(product)">Update</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>