<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary mb-3 mt-3">Fetch Live Data</button>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <h5>Total Orders</h5>
          <p> <i class="bi bi-cart m-2" style="color: #0275d8	;"></i> {{totalOrders}} </p>
        </div>
        <div class="col-md-3">
          <h5>Delivered</h5>
          <p> <i class="bi bi-cart-check m-2" style="color: #5cb85c;"></i> {{delivered}} </p>
        </div>
        <div class="col-md-3">
          <h5>Pending</h5>
          <p> <i class="bi bi-hourglass-split m-2" style="color: #f0ad4e;"></i> {{pending}} </p>
        </div>
        <div class="col-md-3">
          <h5>In Transit</h5>
          <p><i class="bi bi-truck m-2" style="color: #5bc0de	;"></i> {{inTransit}} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group mb-3">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Live Orders</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Customer Name</th>
                  <th>Mobile Number</th>
                  <th>Total Price</th>
                  <th>Address</th>
                  <th>Delivery Guy</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ord of _orders">
                  <td>{{ord.id}}</td>
                  <td> {{ord.customerName}} </td>
                  <td> {{ord.phone}} </td>
                  <td> {{ord.totalPrice | currency}} </td>
                  <td> {{ord.address}} </td>
                  <td> {{ord.deliveryGuy | deliveryGuyPipe}} </td>
                  <td>
                    <app-order-status [status]="ord.status"></app-order-status>
                  </td>
                  <td>
                    <i class="bi bi-eye" style="color: #0d6efd;" (click)="navigateOrderDetail()"></i>
                    &nbsp;&nbsp;&nbsp;
                    <i class="bi bi-person-up" (click)="openAssignModal()"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button to open the modal -->

<!-- Ngb modal to display the delivery guy list and buttons -->
<!-- Example Modal -->
<ng-template #assignDeliveryGuyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Assign Delivery Guy</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="deliveryGuySelect">Select Delivery Guy:</label>
      <ng-select id="deliveryGuySelect" [items]="_deliveryGuys" bindLabel="name" bindValue="id"
        placeholder="Select a delivery guy">
      </ng-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  </div>
</ng-template>