<div [formGroup]="form" class="row mt-3">

  <div class="form-group col-lg-4">
    <label class="mb-1" for="title">Sub Category</label>
    <input formControlName="title" type="text" class="form-control" id="Sub Category" placeholder="Sub Category">
    <app-errors [form_control]="f['title']" [isSubmitted]="isFormSubmit"></app-errors>

  </div>

  <div class="form-group col-lg-2 mt-4 offset-1">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">
      <i class="bi bi-plus-circle"></i>
      Add
    </button>
  </div>

</div>


<div class="row">
  <div class="form-group col-lg-6 mt-2">
    <app-sub-category-table [sub_categories]="subCat"
      (deleteSubCategory)="deleteSubCategory($event)"></app-sub-category-table>
  </div>
</div>